@font-face {
  font-family: "dark";
  src: url("file:///android_asset/fonts/dark.TTF");
}

* {
  font-family: dark, sans-serif;
}

body {
  color: white;
  background-color: black;
}

a {
  color: royalblue;
}

a:visited {
  color: lightcoral;
}