@font-face {
  font-family: "default";
  src: url("file:///android_asset/fonts/roboto_medium.ttf");
}

* {
  font-family: default, sans-serif;
}

body {
  color: whitesmoke;
  background-color: #353535;
}

a {
  color: royalblue;
}

a:visited {
  color: lightcoral;
}