@font-face {
  font-family: "holy";
  src: url("file:///android_asset/fonts/literatabook_medium.ttf");
}

* {
    font-family: holy, serif;
}

body {
    color: #1a1a1a;
    background-color: WhiteSmoke;
}