@font-face {
  font-family: "default";
  src: url("file:///android_asset/fonts/literatabook_medium.otf");
}

* {
    font-family: default, serif;
}

body {
    color: #1a1a1a;
    background-color: WhiteSmoke;
}